/* FULL PAGE BACKGROUND */
body {
    background: linear-gradient(
        rgba(237, 223, 172, 0.7),
        rgba(241, 164, 157, 0.7)
    );
    min-height: 100vh;
    margin: 0;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(
        rgba(237, 223, 172, 0.9),
        rgba(241, 164, 157, 0.9)
    );
}

.navbar-brand {
    color: rgb(124, 15, 134);
    font-size: 22px;
    font-weight: 800;
}

.nav-link {
    font-weight: 500;
    color: #333;
}

/* LOGIN BUTTON */
.login-btn{
    padding: 6px 25px;
    color: white;
    background: rgb(109, 10, 126);
    border: none;
    font-size: large;
}

/* SEARCH BAR */
.search-box {
    position: relative;
    width: 40%;
    opacity: 0.8;
}

.search-box input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 25px;
    border: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: gray;
}

/* HERO TEXT */
.hero-section {
    max-width: 600px;
}

.hero-title {
    font-size: 36px;
    font-weight: 700;
    color: #333;
}

.hero-title span {
    color: rgb(124, 15, 134);
}

.hero-subtitle {
    color: #555;
    margin-top: 10px;
}

/* CARD */
.card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 450px;
}

/* IMAGE */
.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* OVERLAY */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);

    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    width: 60%;
}

/* BUTTON */
.card-button {
    padding: 6px 25px;
    color: white;
    background: rgb(109, 10, 126);
    border: none;
    font-size: large;
}

/* HOVER */
.card:hover .overlay-text {
    background: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}
